<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tanirent.Properties.Settings.DBsewataniConnectionString"
            connectionString="Data Source=JONNISHEREEE\FADJAR;Initial Catalog=DBsewatani;User ID=sa;Password=Afadjarr67688;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>